@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-app-bg: #f4f4f4;
  --color-app-contrast-bg: #11519c;
  --color-element-bg: #fff;
  --color-element-bg-2: #e7e9ed;
  --color-element-bg-contrast: #11519c;
  --color-element-contrast-color: rgba(255, 255, 255, 0.1);
  --color-element-contrast-hover-color: rgba(255, 255, 255, 0.2);
  --color-element-contrast-pressed-color: #edeef0;
  --color-element-contrast-disabled-color: rgba(255, 255, 255, 0.05);
  --color-element-contrast-bg-color: #fff;
  --color-element-contrast-hover-bg-color: #f1f4f9;
  --color-element-contrast-text-color: #38424f;
  --color-text-color: #38424f;
  --color-text-2-color: #80889d;
  --color-text-link-color: #1370b9;
  --color-text-blind-color: #c7c9cf;
  --color-text-contrast-color: #fff;
  --color-text-2-contrast-color: rgba(255, 255, 255, 0.7);
  --color-primary-color: #11519c;
  --color-primary-dark-color: #0e468b;
  --color-primary-light-color: #1370b9;
  --color-divider-color: #d2dae3;
  --color-divider-contrast-color: rgba(210, 218, 227, 0.3);
  --color-gray-color-1: #d3dbe0;
  --color-gray-color-2: #dfe3ea;
  --color-gray-color-3: #e7e9ed;
  --color-gray-color-4: #e9edf2;
  --color-gray-color-5: #edeef0;
  --color-gray-color-6: #f1f4f9;
  --color-gray-color-7: #f7f8fb;
  --color-gray-color-7-contrast: rgba(247, 248, 251, 0.2);
  --color-accent-color-yellow: #fdc51f;
  --color-accent-dark-color-yellow: #f1b400;
  --color-accent-light-color-yellow: #ffda6d;
  --color-accent-color-red: #ff6363;
  --color-accent-dark-color-red: #e44444;
  --color-accent-light-color-red: #ffa9a9;
  --color-input-color: #e7e9ed;
  --color-input-hover-color: #dfe3ea;
  --color-input-disabled-color: #dfe3ea;
  --color-input-color-element-bg: #f1f4f9;
  --color-input-hover-color-element-bg: #e7e9ed;
  --color-input-disabled-color-element-bg: #e7e9ed;
}

.dark {
  --color-app-bg: #1e1e1e;
  --color-app-contrast-bg: #1b57b2;
  --color-element-bg: #232935;
  --color-element-bg-2: #2c3549;
  --color-element-bg-contrast: #1b57b2;
  --color-element-contrast-color: rgba(255, 255, 255, 0.1);
  --color-element-contrast-hover-color: rgba(255, 255, 255, 0.2);
  --color-element-contrast-pressed-color: #edeef0;
  --color-element-contrast-disabled-color: rgba(255, 255, 255, 0.05);
  --color-element-contrast-bg-color: #fff;
  --color-element-contrast-hover-bg-color: #f1f4f9;
  --color-element-contrast-text-color: #38424f;
  --color-text-color: #f4f4f4;
  --color-text-2-color: #9ea6bb;
  --color-text-link-color: #3a84f3;
  --color-text-blind-color: #515b6d;
  --color-text-contrast-color: #fff;
  --color-text-2-contrast-color: rgba(255, 255, 255, 0.7);
  --color-primary-color: #1b57b2;
  --color-primary-dark-color: #0b3ba1;
  --color-primary-light-color: #3a84f3;
  --color-divider-color: #394358;
  --color-divider-contrast-color: rgba(210, 218, 227, 0.3);
  --color-gray-color-1: #282d40;
  --color-gray-color-2: #4d536a;
  --color-gray-color-3: #3c4257;
  --color-gray-color-4: #313745;
  --color-gray-color-5: #313649;
  --color-gray-color-6: #33384a;
  --color-gray-color-7: #2b3044;
  --color-accent-color-yellow: #fdc51f;
  --color-accent-dark-color-yellow: #e1ae15;
  --color-accent-light-color-yellow: #ffda6d;
  --color-accent-color-red: #ff6363;
  --color-accent-dark-color-red: #e44444;
  --color-accent-light-color-red: #ff8a8a;
  --color-input-hover-color-element-bg: #4d536a;
  --color-input-color-element-bg: #3c4257;
  --color-input-hover-color: #3c4257;
  --color-input-color: #33384a;
  --color-input-disabled-color: rgba(60, 66, 87, 0.3);
  --color-input-disabled-color-element-bg: rgba(60, 66, 87, 0.3);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* roadmap */

.react-flow__attribution {
  display: none !important;
}

.react-flow__panel {
  border-radius: 10px !important;
  background-color: var(--color-gray-color-4) !important;
}
.react-flow__controls-button {
  outline: none !important;
  border: none !important;
  color: var(--color-text-color) !important;
  background-color: var(--color-gray-color-4) !important;
  border-radius: 10px !important;
}
